.header-bar--top {
  width: 100%;
  padding: 15px 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #f58611;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  font-size: 19px;
  color: #fff;
  p {
    margin: 0;
  }
  svg {
    vertical-align: text-bottom;
    color: #fff;
  }
}
.main-body--wrapper {
}
